<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Модеь торгового автомата</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
	<body>

        <div class="container">
            <div class="row">

                <div class="col-sm mt-2">

                    <h2 class="mb-3">Модель торгового автомата</h2>

                    <div class="row">
                        <form id="model-form">
                            <div id="model-config">
                                <div class="form-group">
                                    <label>Случайное зерно</label>
                                    <input class="form-control" id="seed-input" placeholder="42">
                                </div>
                                <div class="form-group">
                                    <label>Максимальное число тактов</label>
                                    <input class="form-control" id="max-ticks-amount-input" placeholder="-1">
                                    <small class="form-text text-muted">Введите отрицательно число для бесконечного числа тактов</small>
                                </div>
                                <div class="form-group">
                                    <label>Интенсивность обслуживания</label>
                                    <input class="form-control" id="clients-to-serve-lambda-input" placeholder="0.7">
                                </div>
                                <div class="form-group">
                                    <label>Интенсивность прихода новых клиентов</label>
                                    <input class="form-control" id="clients-incoming-lambda-input" placeholder="0.5">
                                </div>
                                <div class="form-group">
                                    <label>Матожидание начального количества денег у клиентов</label>
                                    <input class="form-control" id="client-money-mean-input" placeholder="7">
                                </div>
                                <div class="form-group">
                                    <label>Дисперсия начального количества денег у клиентов</label>
                                    <input class="form-control" id="client-money-variance-input" placeholder="1">
                                </div>
                                <div class="form-group">
                                    <label>Количество тактов для обслуживания</label>
                                    <input class="form-control" id="maintanance-ticks-input" placeholder="3">
                                </div>
                                <div class="form-group">
                                    <label>Количество тактов для задержки обслуживания</label>
                                    <input class="form-control" id="maintanance-delay-ticks-input" placeholder="3">
                                </div>
                            </div>
                            <!--<div id="products-config">-->
                                <!--<h4>Товары</h4>-->
                                <!--<div class="form-row" th:each="i: ${#numbers.sequence(1, 5)}">-->
                                    <!--<div class="col-4">-->
                                        <!--<label>Название</label>-->
                                        <!--<input class="form-control" th:id="'product'+${i}+'-name-input'" th:placeholder="'product'+ ${i}">-->
                                    <!--</div>-->
                                    <!--<div class="col-4">-->
                                        <!--<label>Цена</label>-->
                                        <!--<input class="form-control" th:id="'product'+${i}+'-cost-input'" th:placeholder="${i}">-->
                                    <!--</div>-->
                                    <!--<div class="col-4">-->
                                        <!--<label>Максимальное число</label>-->
                                        <!--<input class="form-control" th:id="'product'+${i}+'-max-input'"  placeholder="10">-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->

                            <button type="button" id="create-model-btn" class="btn btn-primary mt-3">Создать модель</button>
                        </form>
                    </div>

                    <hr/>

                    <div class="row" th:if="${model != null}">
                        <button type="button" id="start-model-btn" class="btn btn-light mr-3">Запустить модель</button>
                        <button type="button" id="reload-model-btn" class="btn btn-light mr-3">Обновить состояние модели</button>
                        <button type="button" id="stop-model-btn" class="btn btn-danger mr-3">Остановить модель</button>
                    </div>

                    <hr/>

                    <div class="">
                        <h4 class="mb-3">Состояние модели:</h4>
                        <div class="row card">
                            <div th:if="${model != null}">
                                <p th:text="'Такт:' + ${model.getTick()}" />
                                <p th:text="'Автомат работает: '+ ${model.getVendingMachine().getIsWorking()}"/>
                                <p th:text="'Общая выручка: '+ ${model.getVendingMachine().getTotalRevenue()}"/>
                                <p th:text="'Размер очереди: '+ ${model.getVendingMachine().getQueue().getQueueSize()}"/>
                                <th:block th:if="${model.getVendingMachine().getServiceWorker() != null}">
                                    <p th:text="'Тактов до прихода сервисного работника  ' + ${model.getVendingMachine().getServiceWorker().getTicksUntilDestination()}" />
                                    <p th:text="'Тактов до окончания сервисных работ  ' + ${model.getVendingMachine().getServiceWorker().getTicksUntilMaintenanceEnd()}" />
                                </th:block>
                                <h4>Доступные товары:</h4>
                                <p th:each="slot : ${model.getVendingMachine().getSlots()}"
                                   th:text="${slot.getPrintable()}"></p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <script language="JavaScript">

            $(document).ready(function(){

                $('#create-model-btn').on('click', function () {

                    v = {};
                    $('#model-config :input').each( function() {v[this.id.slice(0, -6).replace(/-([a-z])/g, function (g) { return g[1].toUpperCase(); })] = this.value;});
                    Object.keys(v).forEach((key) => (v[key] == "") && delete v[key]);

                    $.ajax({
                       url: "/model",
                       type: "POST",
                       data: JSON.stringify(v),
                       contentType: "application/json;charset=UTF-8",
                       dataType: 'json',
                       success: function (data) {
                           console.log({data});
                           location.reload();
                       },
                       error: function (error) {
                           console.log({error});
                           alert(error.responseText)
                       }
                   });
                });

                $('#start-model-btn').on('click', function () {
                    $.ajax({
                        url: "/model/start",
                        type: "PUT",
                        data: {},
                        success: function (data) {
                            console.log({data});
                            alert("Model started!");
                        },
                        error: function (error) {
                            console.log({error});
                            alert(error.responseText)
                        }
                    });
                });

                $('#stop-model-btn').on('click', function () {
                    $.ajax({
                        url: "/model/stop",
                        type: "PUT",
                        data: {},
                        success: function (data) {
                            console.log({data});
                            alert("Model stopped!");
                        },
                        error: function (error) {
                            console.log({error});
                            alert(error.responseText)
                        }
                    });
                });

                $('#reload-model-btn').on('click', function () {
                    location.reload();
                });
            });
        </script>
	</body>
</html>